<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="5" id="com.digitalbitbox.tfa" ios-CFBundleVersion="2.0.0" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"><!-- MATCH VERSIONS in main.js -->
    <name>DigitalBitbox2FA</name>
    <description>Verify Digital Bitbox actions.</description>
    <author email="info@digitalbitbox.com" href="http://digitalbitbox.com">Digital Bitbox</author>
    <content src="index.html" />
    <access origin="*" />
    <!-- blockchain parsing sites -->
    <allow-intent href="https://insight.bitpay.com/*"/>
    <allow-intent href="https://blockexplorer.com/*"/>
    <allow-intent href="https://blockchain.info/*"/>
    <allow-intent href="ws://*"/>
    <allow-intent href="gap://*"/>
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="iosPersistentFileLocation" value="Library" />
    
    <icon src="www/img/icons/logo_circle_bg.png" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreen" value="false"/>
    <preference name="ShowSplashScreenSpinner" value="false"/>
    
    <platform name="android">
        <icon density="ldpi" src="www/img/icons/logo-android-round/drawable-ldpi/ic_launcher.png" />
        <icon density="mdpi" src="www/img/icons/logo-android-round/drawable-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="www/img/icons/logo-android-round/drawable-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="www/img/icons/logo-android-round/drawable-xhdpi/ic_launcher.png" />
        <splash src="www/img/splash.png" density="port-ldpi"/>
        <splash src="www/img/splash.png" density="port-mdpi"/>
        <splash src="www/img/splash.png" density="port-hdpi"/>
        <splash src="www/img/splash.png" density="port-xhdpi"/>
        <splash src="www/img/splash.png" density="land-ldpi"/>
        <splash src="www/img/splash.png" density="land-mdpi"/>
        <splash src="www/img/splash.png" density="land-hdpi"/>
        <splash src="www/img/splash.png" density="land-xhdpi"/> 
    </platform>

    <platform name="ios">
      <splash src="img/ios/splash/Default~iphone.png" width="320" height="480"/>
        <splash src="img/ios/splash/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="img/ios/splash/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="img/ios/splash/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="img/ios/splash/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="img/ios/splash/Default-667h.png" width="750" height="1334"/>
        <splash src="img/ios/splash/Default-736h.png" width="1242" height="2208"/>

        <icon src="img/ios/icon/icon-Small.png" width="29" height="29" />
        <icon src="img/ios/icon/icon-Small@2x.png" width="58" height="58" />
        <icon src="img/ios/icon/icon-Small@3x.png" width="87" height="87" />
        <icon src="img/ios/icon/icon-Small-40.png" width="40" height="40" />
        <icon src="img/ios/icon/icon-Small-40@2x.png" width="80" height="80" />
        <icon src="img/ios/icon/icon-60@2x.png" width="120" height="120"/>
        <icon src="img/ios/icon/icon-60@3x.png" width="180" height="180"/>
        <icon src="img/ios/icon/icon-83.5@2x.png" width="167" height="167"/>
        <icon src="img/ios/icon/icon-76.png" width="76" height="76"/>
        <icon src="img/ios/icon/icon-76@2x.png" width="152" height="152"/>
        <icon src="img/ios/icon/icon-AppStore@2x.png" width="1024" height="1024"/>
    </platform>

    <preference name="xwalkVersion" value="15+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
