<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="2" id="com.digitalbitbox.qr" ios-CFBundleVersion="0.0.2" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DigitalBitboxQR</name>
    <description>Scan QR codes to verify transactions.</description>
    <author email="info@digitalbitbox.com" href="http://digitalbitbox.com">Digital Bitbox</author>
    <content src="index.html" />
    <access origin="*" />
    <!-- blockchain parsing sites -->
    <allow-intent href="https://insight.bitpay.com/*"/>
    <allow-intent href="https://blockexplorer.com/*"/>
    <allow-intent href="https://blockchain.info/*"/>
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="iosPersistentFileLocation" value="Library" />
    <icon src="www/img/icons/logo_circle_bg.png" />
    <platform name="android">
        <icon density="ldpi" src="www/img/icons/logo-android-round/drawable-ldpi/ic_launcher.png" />
        <icon density="mdpi" src="www/img/icons/logo-android-round/drawable-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="www/img/icons/logo-android-round/drawable-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="www/img/icons/logo-android-round/drawable-xhdpi/ic_launcher.png" />
    </platform>
    <platform name="ios">
        <icon height="180" src="www/img/icons/logo-square-ios/AppIcon.appiconset/Icon-60@3x.png" width="180" />
        <icon height="60" src="www/img/icons/logo-square-ios/Icon-60.png" width="60" />
        <icon height="120" src="www/img/icons/logo-square-ios/AppIcon.appiconset/Icon-60@2x.png" width="120" />
        <icon height="76" src="www/img/icons/logo-square-ios/AppIcon.appiconset/Icon-76.png" width="76" />
        <icon height="152" src="www/img/icons/logo-square-ios/AppIcon.appiconset/Icon-76@2x.png" width="152" />
        <icon height="40" src="www/img/icons/logo-square-ios/AppIcon.appiconset/Icon-40.png" width="40" />
        <icon height="80" src="www/img/icons/logo-square-ios/AppIcon.appiconset/Icon-40@2x.png" width="80" />
        <icon height="57" src="www/img/icons/logo-square-ios/Icon.png" width="57" />
        <icon height="114" src="www/img/icons/logo-square-ios/Icon@2x.png" width="114" />
        <icon height="72" src="www/img/icons/logo-square-ios/Icon-72.png" width="72" />
        <icon height="144" src="www/img/icons/logo-square-ios/Icon-72@2x.png" width="144" />
        <icon height="29" src="www/img/icons/logo-square-ios/AppIcon.appiconset/Icon-Small.png" width="29" />
        <icon height="58" src="www/img/icons/logo-square-ios/AppIcon.appiconset/Icon-Small@2x.png" width="58" />
        <icon height="50" src="www/img/icons/logo-square-ios/Icon-Small-50.png" width="50" />
        <icon height="100" src="www/img/icons/logo-square-ios/Icon-Small-50@2x.png" width="100" />
    </platform>
    <preference name="xwalkVersion" value="15+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
